div{
    background-color:black;
    text-align: center;
    top: 600 px;
    color: white;
}
/*etiqueta nombre*/
#nombre{
    font-weight: bold;
margin-top: 30%;


}
/*estilo fotperfil*/
@media (min-width: 576px){
    #fotodeperfil{
        position: absolute;
        width: 15%;
        border-radius: 50%;
        left: 1%;
        top: 530px;
    }
 }
 @media (max-width: 575px){
    #fotodeperfil{
        
        width: 100%;
        border-radius: 50%;
        left: 35%;
        top: 760px;
    }
 }