<div class="row">
<h1> Experiencia Laboral</h1>
<div class="col-lg-2"></div>
<div class="col-lg-10">
<ul>
    <li><h1>Trabajo 1</h1>-<h3>(years)</h3></li>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia cupiditate enim, odit sit, voluptate veritatis cum minima quod quas iure impedit quos officia non minus provident totam perspiciatis ratione ipsum.</p>
</ul>
<ul>
    <li><h1>Trabajo 2</h1>-<h3>(years)</h3></li>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia cupiditate enim, odit sit, voluptate veritatis cum minima quod quas iure impedit quos officia non minus provident totam perspiciatis ratione ipsum.</p>
</ul>
<ul>
    <li><h1>Trabajo 3</h1>-<h3>(years)</h3></li>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia cupiditate enim, odit sit, voluptate veritatis cum minima quod quas iure impedit quos officia non minus provident totam perspiciatis ratione ipsum.</p>
</ul>
</div>
</div>
